<footer class="app-footer">
  <a href="http://www.marxismo.org.br/">Esquerda Marxista</a> © <%= Time.current.year %>.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
  </span>
</footer>
